<header class="header">
    <nav class="navbar navbar-expand-md bg-body-tertiary bg-white">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <img src="/assets/images/logo-all-dark.svg" width="220" height="40" alt class="d-none d-md-inline-block">
          <img src="/assets/images/logotype-sm-dark.svg" width="114" height="18" alt class="d-inline-block d-md-none">
        </a>
        <button class="navbar-toggler order-first" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="index.html">首頁</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="product.html">甜點</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login.html">登入</a>
            </li>

          </ul>

        </div>
        <div class="navbar-nav ml-19px">
          <a class="nav-link pr-md-0" href="cart.html"><i class="material-icons">
              shopping_cart
            </i></a>
        </div>
      </div>
    </nav>
  </header>