<section class="subscription">
    <div class="container">
        <div class="row justify-content-between">
            <div
                class="col-md-5 d-flex align-items-center justify-content-center justify-content-md-start mb-30px mb-md-0">
                <img class="" src="/assets/images/logo-light.svg" alt="logo-light.svg"
                    style="width: 40px;height: 40px;">
                <span class="ml-20px text-white fz-24px mb-0 ">訂閱你我的甜蜜郵件</span>
            </div>
            <div class="col-md-5 d-flex align-items-center bg-secandary-bg pl-0 pr-0">
                <label for="subscription" class="material-icons iconSubscription">email</label>
                <input type="email" class="bg-secandary-bg w-100 border-none">
                <button class="btn btn-info btn-subscription ms-auto"><img src="/assets/images/arrow_forward-24px.png"
                        alt="arrow_forward-24px"></button>
            </div>
        </div>
    </div>
</section>